body {
	background-color: lightgray;
}

p, li, a {
	color: #387C44;
}

h1 {
	color: #3B9C9C;
	padding: 10px;
}

hr {
	color: #000080;
	margin-bottom: 30px;
}

img {
	max-width: 500px;
	width: 100%;
}

.container {
	padding: 15px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navigation li a:hover {
    background-color: #111;
}

.navigation .active {
    background-color: #4CAF50;
}

 /* Add a gray right border to all list items, except the last item (last-child) */
.navigation li {
    border-right: 1px solid #bbb;
}

.navigation li:last-child {
    border-right: none;
} 